body {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

//Sticy Footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-top: 20px;
}

//トップページ用
.hikerog-top {
  background-image: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url(/images/back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  h1 {
    font-size: 36px;
  }
}

.catch-copy_title {
  font-size: 36px;
  line-height: 1.5;
  font-weight: bold;
}

.hikerog-search {
  text-align: center;
  margin: 50px 0 20px 0;
}

.btn-width {
  width: 100%;
}

.promo {
  width: 100%;
  i {
    margin:40px 0;
    color: #abd8a7;
    font-size: 7rem;
    display: block;
  }
}

.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}

/* セクション */
section {
  &.section-default {
    background-color: #f9f9f9;
  }
  &.section-inverse {
    background-color: #abd8a7;
  }
  .subtitle {
    margin-bottom: 24px;
    text-align: center;
  }
  .top-hikerog {
    padding-bottom: 30px;
  }
}

/* 地図表示 */
#map_canvas {
  height: 430px;
  width: 887px;
}

.ol-attribution {
  padding: 3px;  position: absolute;  background-color:#ffffff;
  background-color:rgba(230,255,255,0.7);
  right: 3px;  bottom:5px;  font-size:12px;
  ul {
    padding: 0px;
    line-height: 14px;
    margin: 0px;
  }
  li {
    line-height: inherit;
    display: inline;
    list-style: none outside none;
  }
}

.ol-zoom .ol-zoom-out {
  margin-top: 202px;
}

.ol-zoomslider {
  background-color: transparent;
  top: 2.3em;
}

.ol-touch .ol-zoom .ol-zoom-out {
  margin-top: 212px;
}

.ol-touch .ol-zoomslider {
  top: 2.75em;
}
