<!DOCTYPE html>
<html>

  <%= render 'head' %>

  <body>

    <%= yield %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
    
  </body>
</html>
